- Breaks because of multiple languages
- Not reliable, works for "Batman" though

In [56]:
import pandas as pd
import numpy as np
basic = pd.read_csv("data/basic.csv", index_col=0)
basic

,id,title,overview,genres,belongs_to_collection,original_language,popularity,production_companies,production_countries,release_date,runtime,spoken_languages,status,tagline,vote_average,vote_count,cast,crew,keywords
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","('Animation', 'Comedy', 'Family')",Toy Story Collection,en,21.946943,"('Pixar Animation Studios',)","('United States of America',)",1995-10-30,81.0,"('English',)",Released,NaN,7.7,5415,"('Annie Potts', 'Don Rickles', 'Erik von Dette...","('Ada Cochavi', 'Alan Sperling', 'Alec Sokolow...","('boy', 'boy next door', 'friends', 'friendshi..."
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"('Adventure', 'Family', 'Fantasy')",NaN,en,17.015539,"('Interscope Communications', 'Teitler Film', ...","('United States of America',)",1995-12-15,104.0,"('English', 'Français')",Released,Roll the dice and unleash the excitement!,6.9,2413,"('Adam Hann-Byrd', 'Annabel Kershaw', 'Bebe Ne...","('Chris van Allsburg', 'Greg Taylor', 'James D...","(""based on children's book"", 'board game', 'di..."
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"('Comedy', 'Romance')",Grumpy Old Men Collection,en,11.712900,"('Lancaster Gate', 'Warner Bros.')","('United States of America',)",1995-12-22,101.0,"('English',)",Released,Still Yelling. Still Fighting. Still Ready for...,6.5,92,"('Ann-Margret', 'Burgess Meredith', 'Daryl Han...","('Howard Deutch', 'Jack Keller', 'Mark Steven ...","('best friend', 'duringcreditsstinger', 'fishi..."
3,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","('Comedy', 'Drama', 'Romance')",NaN,en,3.859495,"('Twentieth Century Fox Film Corporation',)","('United States of America',)",1995-12-22,127.0,"('English',)",Released,Friends are the people who let you be yourself...,6.1,34,"('Angela Bassett', 'Dennis Haysbert', 'Gregory...","('Caron K', 'Deborah Schindler', 'Ezra Swerdlo...","('based on novel', 'chick flick', 'divorce', '..."
4,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,"('Comedy',)",Father of the Bride Collection,en,8.387519,"('Sandollar Productions', 'Touchstone Pictures')","('United States of America',)",1995-02-10,106.0,"('English',)",Released,Just When His World Is Back To Normal... He's ...,5.7,173,"('BD Wong', 'Diane Keaton', 'Eugene Levy', 'Ge...","('Adam Bernardi', 'Alan Silvestri', 'Albert Ha...","('aging', 'baby', 'confidence', 'contraception..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45454,439050,Subdue,Rising and falling between a man and woman.,"('Drama', 'Family')",NaN,fa,0.072051,(),"('Iran',)",NaN,90.0,"('فارسی',)",Released,Rising and falling between a man and woman,4.0,1,"('Elham Korda', 'Kourosh Tahami', 'Leila Hatami')","('Azadeh Ghavam', 'Babak Ardalan', 'Farshad Mo...","('tragic love',)"
45455,111109,Century of Birthing,An artist struggles to finish his work while a...,"('Drama',)",NaN,tl,0.178241,"('Sine Olivia',)","('Philippines',)",2011-11-17,360.0,"('',)",Released,NaN,9.0,3,"('Angel Aquino', 'Angeli Bayani', 'Bart Guingo...","('Dante Perez', 'Lav Diaz', 'Lav Diaz', 'Lav D...","('artist', 'pinoy', 'play')"
45456,67758,Betrayal,"When one of her hits goes wrong, a professiona...","('Action', 'Drama', 'Thriller')",NaN,en,0.903007,"('American World Pictures',)","('United States of America',)",2003-08-01,90.0,"('English',)",Released,A deadly game of wits.,3.8,6,"('Adam Baldwin', 'Damian Chapa', 'Darrell Dubo...","('C. Courtney Joyner', 'Jeffrey Goldenberg', '...",()
45457,227506,Satan Triumphant,"In a small town live two brothers, one a minis...",(),NaN,en,0.003503,"('Yermoliev',)","('Russia',)",1917-10-21,87.0,(),Released,NaN,0.0,0,"('Aleksandr Chabrov', 'Iwan Mosschuchin', 'Nat...","('Joseph N. Ermolieff', 'Yakov Protazanov')",()
45458,461257,Queerama,50 years after decriminalisation of homosexual...,(),NaN,en,0.163015,(),"('United Kingdom',)",2017-06-09,75.0,"('English',)",Released,NaN,0.0,0,(),"('Daisy Asquith',)",()

In [57]:
df = basic[basic['original_language'] == 'en'][['id', 'title', 'overview']].reset_index(drop=True)

In [58]:
df.loc[:, 'overview'] = df['overview'].fillna(value='')
df

,id,title,overview
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ..."
1,8844,Jumanji,When siblings Judy and Peter discover an encha...
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...
3,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom..."
4,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...
...,...,...,...
32262,222848,Caged Heat 3000,It's the year 3000 AD. The world's most danger...
32263,30840,Robin Hood,"Yet another version of the classic epic, with ..."
32264,67758,Betrayal,"When one of her hits goes wrong, a professiona..."
32265,227506,Satan Triumphant,"In a small town live two brothers, one a minis..."
32266,461257,Queerama,50 years after decriminalisation of homosexual...

In [59]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words='english', strip_accents='unicode')
tfidf_matrix = tfidf.fit_transform(df['overview'])

tfidf_matrix.shape

(32267, 57468)

In [60]:
def get_index(id):
    return df[df['id'] == id].index[0]

In [61]:
from sklearn.metrics.pairwise import cosine_similarity

def get_similarities(id):
    return cosine_similarity(tfidf_matrix, tfidf_matrix[get_index(id)]).reshape(-1)

In [62]:
def get_id(index):
    return df.loc[index]['id']

In [63]:
def get_similar(id):
    return np.argsort(get_similarities(id))[-10:][::-1]

In [64]:
def get_id_from_title(title):
    return df[df['title'] == title]['id'].values[0]

In [65]:
df.iloc[get_similar(get_id_from_title('The Dark Knight Rises'))]

,id,title,overview
14268,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
10253,155,The Dark Knight,Batman raises the stakes in his war on crime. ...
132,414,Batman Forever,The Dark Knight of Gotham City confronts a das...
1166,364,Batman Returns,"Having defeated the Joker, Batman now faces th..."
12428,40662,Batman: Under the Red Hood,Batman faces his ultimate challenge as the mys...
541,268,Batman,The Dark Knight of Gotham City begins his war ...
16398,29751,Batman Unmasked: The Psychology of the Dark Kn...,Delve into the world of Batman and the vigilan...
7871,16234,Batman Beyond: Return of the Joker,"The Joker is back with a vengeance, and Gotham..."
14118,69735,Batman: Year One,Two men come to Gotham City: Bruce Wayne after...
15371,123025,"Batman: The Dark Knight Returns, Part 1",Batman has not been seen for ten years. A new ...

In [66]:
df.iloc[get_similar(get_id_from_title('The Godfather'))]

,id,title,overview
734,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
1034,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
31460,364150,The Godfather Trilogy: 1972-1990,The multigenerational saga of the rise and fal...
1704,242,The Godfather: Part III,In the midst of trying to legitimize his busin...
17783,190955,Blood Ties,"Two brothers, on either side of the law, face ..."
9346,119907,Household Saints,A chronicle of an eccentric Italian-American f...
25720,202239,Start Liquidation,Army and police are trying to fight crime in W...
22902,279568,"Paolo Barca, maestro elementare, praticamente ...",Italian film
6101,120637,Queen of Hearts,Eddie Luca is the youngest son in a family of ...
10769,109711,I Am the Law,"With the aid of his former law students, a pro..."

In [68]:
df.iloc[get_similar(24428)] # The Avengers

,id,title,overview
13971,24428,The Avengers,When an unexpected enemy emerges and threatens...
20411,99861,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...
10194,7992,It's a Free World...,"The film focuses on Angie (Kierston Wareing), ..."
24353,107427,Drums Across the River,When whites hunger after the gold on Ute India...
30785,15043,Brink!,"Andy ""Brink"" Brinker and his in-line skating c..."
19607,207703,Kingsman: The Secret Service,The story of a super-secret spy organization t...
24619,180759,Nice Guy,An unemployed stay at home dad begins venturin...
11031,16325,Echelon Conspiracy,Mysterious cell phone messages promise a young...
6383,11864,Enemy Mine,A soldier from Earth crashlands on an alien wo...
11589,53423,Shoulder Arms,Charlie is a boot camp private who has a dream...

In [75]:
query = np.array([get_index(get_id_from_title(x)) for x in ['The Dark Knight Rises', 'The Godfather', 'The Avengers']])
query

array([14268,   734,  1829])

In [79]:
query_tfidf = tfidf_matrix[query]
query_tfidf.shape

(3, 57468)